body {
    background-color: aquamarine;
}

.box {
    background-color: pink;
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    /* font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid blueviolet;*/
    border-width: 5px;
    border-style: groove;
    border-color: blueviolet;
}

#special-box {
    background-color: palevioletred;
    position: absolute;
    right: 100px;
    top: 50px;
}

.text-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.text-dsc {
    font-size: 15px;
}

body,
h3,
p {
    margin: 0;
}